body
{
background-color: rgb( 255,174,201);
}


#textShiran
{
	color: DarkCyan;
	text-align: center;
}

#pic
{
	color: rgb(0, 0, 255);
	text-align: center;
}

#usernamepassword
{
text-align: right;
}

#bla
{
}


